<!-- Every form has an action and a message. -->
<form action="/form_result" method="post"=>
  <div>
    <label for="message">Enter message: </label>
    <input type="text" name= "form_message" id="message">
  </div>
  <div>
    <input type="submit" value="Submit Message!">
  </div>
</form>