<h1>Welcome to the number-guessing game!</h1>
<h4>Try to guess the secret number between 1 and 100.</h4>
<h4>In the address bar, type your guess.</h4>
<h2> <%= @user_guess %> </h2>
<h2> <%= @message %> </h2>